<!DOCTYPE html>
<div>
    <!-- Navigation -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="panel panel-primary">
                        <a href='//files.dev-monkey.org' class="logo">DM <small>Photos et vidéos</small></a>
                        <div class="panel-heading">
                            <h3 class="panel-title">Partage</h3>
                        </div>
                        <div class="panel-body">
                            <p>Vous avez reçu un nouveau partage</p>
                            <p><a href="<%= linkPartage %>">Dossier partagé</a></p>
                            <hr/>
                            <p>A bientôt sur dev-monkey ;)</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
</div>
