#collapseOne{display:none;}
.panel-heading{display:none;}
.page-header{display:none;}
#webcamContnair{display:none;}
#collapseTwo{display:block;}
#btnPrint{display:none;}
.panel-group{ margin-bottom: 0px !important;}
