<% layout('layout') -%>
<% script() -%>
<% stylesheet() -%>
<link href="/css/video-js.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/css/jquery.fileupload.css">
<link rel="stylesheet" href="/css/jquery.fileupload-ui.css">
<link rel="stylesheet" href="/css/jquery-ui.css">
<!-- Generic page styles -->
<link rel="stylesheet" href="/css/style.css">
<div class="row">
    <div class="panel panel-default">
        <div id="usersManager">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th style="text-align:center;"><input id="check_all_file_checkbox" type='checkbox'/></th>
                    <th>Prévu</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Poid</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>        
    </div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect();
</script>
