<% layout('layout') -%>
<% script() -%>
<% stylesheet() -%>
<div class="row">
    <% if(user){ %>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Permissions</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        A venir
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Vos repports de bug</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="badge">En ce moment</span>
                        A venir
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Dernieres nouvelles</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="badge">En ce moment</span>
                        <i class="fa fa-fw fa-calendar"></i> Ca code, ca code..
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">Le 1er janvier 2015</span>
                        <i class="fa fa-fw fa-comment"></i> Mise en ligne du site
                    </a>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>
<!-- /.row -->

