<% layout('layout') -%>
<% script() -%>
<% stylesheet() -%>
<link rel="stylesheet" href="/css/jquery-ui.css">
<div class="row">
    <% if(user){ %>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Permissions</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        A venir
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Vos repports de bug</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <% for(var i=0;i < bugs.length;i++){ 
                    var cls = "";
                    var title = "";
                    if(bugs[i].status == 0){
                    cls = 'success';
                    title = 'Traité';
                    }
                    if(bugs[i].status == 1){
                    cls = 'warning';
                    title = 'En cours';
                    }
                    if(bugs[i].status == 2){
                    cls = 'danger';
                    title = 'Non traité';
                    }
                    %>
                    <a href="#" class="list-group-item">
                        <span data-tooltip="tooltip" title="<%= title %>" class="badge badge-<%= cls %> active">&nbsp;</span>
                        <span class="badge"><%= fromNow(bugs[i].created) %></span>
                        <%= bugs[i].comment %>
                    </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Dernieres nouvelles</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="badge">En ce moment</span>
                        <i class="fa fa-fw fa-calendar"></i> Ca code, ca code..
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">Le 1er janvier 2015</span>
                        <i class="fa fa-fw fa-comment"></i> Mise en ligne du site
                    </a>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>
<!-- /.row -->
<script src="/js/jquery-1.11.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script>
    $('span[data-tooltip=tooltip]').tooltip({
        placement: 'top',
        html: true
    });
</script>