<nav class="navbar navbar-inverse navbar-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <% if (user && user.username && user.salt){ %>
             <li class="title" style="line-height: 48px;">
                <span style="vertical-align:middle;color:#999;"><i class="fa fa-user"></i>&nbsp;<%- user.username %></span>
            </li>
            <li data-tooltip="tooltip" data-placement="bottom" data-original-title="<strong>Paramètre</strong>">
                <a href="/profile"><i class="glyphicon glyphicon-cog"></i></a>
            </li>
            <li data-tooltip="tooltip" data-placement="bottom" data-original-title="<strong>Fichiers</strong>">
                <a href="/files"><i class="glyphicon glyphicon-file"></i></a>
            </li>
            <li data-tooltip="tooltip" data-placement="bottom" data-original-title="<strong>Déconnexion</strong>">
                <a href="/logout"><i class="fa fa-fw fa-power-off"></i></a>
            </li>
            <% } %>
        </ul>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul id="folder-selection" class="nav navbar-nav side-nav">
            <li class="no-remove">
                <a class="navbar-brand glyphicon glyphicon-home" href="/"></a>
                <a class="navbar-brand glyphicon glyphicon-chevron-right" id="collapse-sidebar" aria-hidden="true"></a>
            </li>
        </ul>
    </div>
</nav>

<script>
$(document).ready(function(){
    $('li[data-tooltip=tooltip]').tooltip({
        placement: 'bottom',
        html: true
    });
});
</script>