<% layout('fo_layout') -%>
<% script() -%>
<% stylesheet() -%>
<link href="/css/video-js.min.css" rel="stylesheet" type="text/css">
<!-- video.js must be in the <head> for older IEs to work. -->
<script src="/js/video.js"></script>

<!-- Unless using the CDN hosted version, update the URL to the Flash SWF -->
<script>
videojs.options.flash.swf = "/js/video-js.swf";
</script>
<div class="row">
    <div class="col-lg-2 col-md-2 col-xs-2" id="folders">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul id="folder-selection">
                </ul>
            </div>
        </div>
    </div>
    <div id="content-file" class="col-lg-10 col-md-10 col-xs-10">
    </div>
</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect();
</script>
<script src="/js/folders.js"></script>
<script>
var files = <%- JSON.stringify(files) %>;
//console.log(files);
generateMenu(files);
function generateMenu(files){
    $('#folderSelect').html('<option value="default">Selectionner un dossier</option>');
    $('#folder-selection').html('');
    for(var i=0;i<files.length;i++){
        var parent = '';
        var style = '';
        var access = 0;
        if(files[i].type == "Directory" && files[i].allowedEmails){
            console.log(files[i].allowedEmails);
            if(typeof files[i].allowEmails == "string"){
                if('<%= user.email %>' == files[i].allowedEmails){
                    access = 1;
                }
            }else{
                for(var j=0;j<=files[i].allowedEmails.length;j++){ 
                    if('<%= user.email %>' == files[i].allowedEmails[j]){
                        access = 1;
                    }
                }
            }
        }
        if(access == 1){
            if(files[i].parent_id){
                parent = 'data-parent-id='+files[i].parent_id+'';
                style = 'style=display:none';
            }
            var esc = '';
            for(var j=0;j<files[i].level;j++){
                esc += '&nbsp;';
            }
            $('#folder-selection').append('<li '+parent+' '+style+' data-id="'+files[i]._id+'" class="level'+files[i].level+'">'+esc+'\
            <span class="brace closed"></span>\
            <span data-name="'+files[i].name+'" data-id="'+files[i]._id+'" class="folder">\
            '+files[i].name+'</span></li>');
        }
    }
}
$(document).ready(function() {
    $('.fancybox-thumbs').click(function(evt){
        $('.fancybox-thumbs').fancybox({
            onStart: function(){
                console.log('started');
                $('#fancybox-image').attr({
                    width : 600
                }).removeAttr('height');
            },
            minWidth: 300,
            aspectRatio: true,
            type: 'image',
            prevEffect : 'none',
            nextEffect : 'none',
            closeBtn  : true,
            arrows    : true,
            nextClick : true,
            helpers : {
            title   : {
                type: 'outside'
            },
            thumbs  : {
                width   : 50,
                height  : 50
            } 
        }
        });
        evt.preventDefault();
    });
    $('span.folder').first().trigger("click");
});
</script>