{% extends 'FPGeneralBundle:Back:layout.html.twig' %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block content %}
<div class="grid_12">
    <div class="block_border ">
        <div class="block_design">
            {% set par = {'params': params} %}
            {% include 'FPGeneralBundle:Default:form.html.twig' with par only %}
        </div>
    </div>
</div>
{% endblock %}
