

<div class="input-main">
    <div class="input-block">
        <div class="grid_6">
            <div class="field">
                <div class="label"><label>nom</label></div>
                <div class="field"><input /></div>
                <div class="label"><label>Prénom</label></div>
                <div class="field"><input /></div>
                <div class="label"><label>Email</label></div>
                <div class="field"><input /></div>
                <div class="label"><label>Date de naissance</label></div>
                <div class="field"><input type="date"/></div>
            </div>
        </div>
        <div class="grid_6">

            <div class="field">
                <div class="label"><label>Adresse</label></div>
                <div class="field"><input /></div>
                <div class="label"><label>Sexe</label><div class="stop"></div></div>
                <div class="field check">
                    <input type="checkbox" name="frites"/> <label >Frites</label>
                    <input type="checkbox" name="steak"  /> <label >Steak haché</label>
                    <div class="stop"></div>
                </div>
                <div class="label"><label>Numero de telephone</label></div>
                <div class="field"><input /></div>
                <div class="label"> <label for="pays">Niveau d'étude</label><br /></div>
                <div class="field">
                    <select name="pays" id="pays">
                        <option value="france">France</option>
                        <option value="espagne">Espagne</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>