{# empty Twig template #}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script>
    $(function() {
        $('.question').css('cursor', 'default');
        $('.group_element').css('cursor', 'default');
        $('#myonoffswitch').click(function() {
            if (!$('input[name="onoffswitch"]').attr('checked')) {
                $('.question').css('cursor', 'move');
                $('.group_element').css('cursor', 'move');
                $("ul[id^='list_ul']").sortable({
                    connectWith: ".ul_design",
                    cursor: "move",
                    update: function(event, ui) {
                        var data = $(this).sortable('serialize');
                        
                        //Get list with ids and their parents info
                        var arrayChild = $(this).children().map(function() {
                            return $(this).attr('id');
                        }).get();
                       
                       //Get List of element with their ids
                        var arrayChildNew = $(this).children().map(function() {
                            return $(this).attr('data-id');
                        }).get();
                       
                        var block_id = $(this).attr('id').split('_');

                        var parent_block = $(this).attr('data-parent');
                        //gives the block id in which the new  element added and from which it removed
                        var par_block = $(this).attr('data-par');
                        
                        var block_level = block_id[2];
                        req = {'list': {'level': block_level, 'parent': parent_block, 'order': arrayChild}};
                       
                        $('#onLoad').css('display', 'block');
                        
                        var url = "{{ path(( app.request.get('_route') | slice(0,2))~'_questionnaire_element_reposition',{'slug_quest':questionnaire.slug,'slug_ent':(questionnaire.enterprise.slug is defined ? questionnaire.enterprise.slug:'') }) }}" ;
                        
                        $.ajax({
                            url: url,
                            type: 'post',
                            data: req,
                            async :false,
                            success: function(){
                                
                                //This code manage new positions of all elements and which actions will show according to level etc
                                for(var i=0; i< arrayChild.length; i++){  
                                        
                                        if( $('#'+arrayChild[i]+' h4.questionName').length>0){                                           
                                           if($('#'+arrayChild[i]+' h4.questionName').css('display')==='block') {
                                              $('#'+arrayChild[i]+' h4.questionName span:first').html('Question n°'+eval(i+1));
                                           }   
                                        }
                                        
                                        
                                        if( $('#'+arrayChild[i]+' h3').length>0){
                                           $('#'+arrayChild[i]+' h3:first p:first').html(eval(i+1)+' - ');                                           
                                        } else{  
                                            if($('#'+arrayChild[i]+' .element_display:first p.number').length>0){                                                
                                               $('#'+arrayChild[i]+' .element_display:first p.number').html(eval(i+1)+' - '); 
                                            }
                                        }
                                        
                                        //Id not dragged in same group
                                        if(arrayChild[i] !== par_block+'_'+arrayChildNew[i]){
                                           
                                            $('#'+arrayChild[i]).attr('id',par_block+'_'+arrayChildNew[i]);
                                            $('#'+par_block+'_'+arrayChildNew[i]+' ul:first ').attr('data-par',par_block+'_'+arrayChildNew[i]);
                                            
                                            if(par_block==='list'){
                                                if($('#'+par_block+'_'+arrayChildNew[i]+' h3').length>0){
                                                   $('#'+par_block+'_'+arrayChildNew[i]+' h3:first span:first a:first').show();   
                                                  
                                                   if($('#'+par_block+'_'+arrayChildNew[i]+' h3:first').attr('style') != 'background-color:#ff9e00 !important') {
                                                        alert($('#'+par_block+'_'+arrayChildNew[i]+' h3:first').attr('style'));
                                                      $('#'+par_block+'_'+arrayChildNew[i]+' h3:first').css('background-color','#999 !important');
                                                   }
                                                }
                                                
                                                else if( $('#'+par_block+'_'+arrayChildNew[i]+' h4.questionName').length>0){
                                                    //For edit link
                                                    $('#'+par_block+'_'+arrayChildNew[i]+' h4.questionName a').each(function(){
                                                        if($(this).attr('data-list_id')){
                                                            $(this).attr('data-list_id',par_block+'_'+arrayChildNew[i]);
                                                        }
                                                    });
                                                    
                                                     //For edit link
                                                    $('#'+par_block+'_'+arrayChildNew[i]+' .element_display span:first a').each(function(){
                                                         if($(this).attr('data-list_id')){
                                                            $(this).attr('data-list_id',par_block+'_'+arrayChildNew[i]);
                                                        }
                                                    });
                                                    
                                                    $('#'+par_block+'_'+arrayChildNew[i]+' h4.questionName').show();
                                                    $('#'+par_block+'_'+arrayChildNew[i]+' h4.questionName span:first').html('Question n°'+eval(i+1));
                                                    $('#'+par_block+'_'+arrayChildNew[i]+' .element_display p.number').hide();
                                                    $('#'+par_block+'_'+arrayChildNew[i]+' .element_display span:first').hide();
                                                    $('#'+par_block+'_'+arrayChildNew[i]+' .time_limit_'+arrayChildNew[i]).show();
                                                }
                                                
                                            }else{
                                              if($('#'+par_block+'_'+arrayChildNew[i]+' h3').length>0){
                                                 
                                                  $('#'+par_block+'_'+arrayChildNew[i]+' h3:first span:first a:first').hide();
                                                 
                                                  if($('#'+par_block+'_'+arrayChildNew[i]+' h3:first').attr('style') != 'background-color:#ff9e00 !important') {
                                                      $('#'+par_block+'_'+arrayChildNew[i]+' h3:first').css('background-color','#666 !important');                                                  }  
                                             
                                              } else if( $('#'+par_block+'_'+arrayChildNew[i]+' h4.questionName').length>0){
                                                                                                       
                                                    //For edit link
                                                    $('#'+par_block+'_'+arrayChildNew[i]+' h4.questionName a').each(function(){
                                                        if($(this).attr('data-list_id')){
                                                            $(this).attr('data-list_id',par_block+'_'+arrayChildNew[i]);
                                                        }
                                                    });
                                                    
                                                     //For edit link
                                                    $('#'+par_block+'_'+arrayChildNew[i]+' .element_display span:first a').each(function(){
                                                         if($(this).attr('data-list_id')){
                                                            $(this).attr('data-list_id',par_block+'_'+arrayChildNew[i]);
                                                        }
                                                    });
                                                    
                                                    $('#'+par_block+'_'+arrayChildNew[i]+' h4.questionName').hide();
                                                    $('#'+par_block+'_'+arrayChildNew[i]+' .element_display p.number').show();
                                                    $('#'+par_block+'_'+arrayChildNew[i]+' .element_display span:first').show();
                                                    $('#'+par_block+'_'+arrayChildNew[i]+' .time_limit_'+arrayChildNew[i]).hide();
                                               } 
                                        }
                                     }
                                }
                                 
                                 $('#onLoad').css('display', 'none');
                            },
                            error: function(){

                            }        
                        });
                    }
              });
                    
            } else {
                $('.question').css('cursor', 'default');
                $('.group_element').css('cursor', 'default');
                $("ul[id^='list_ul']").sortable("destroy");
            }
        });
    });

</script>
{% if elements is defined and elements| length >0 %}
    <ul class="list-design ul_design" id="list_ul_0" data-parent="0" data-par="list">
        {% for element in elements %}
            {% include 'VMQuestionnaireBundle:Middle:Element/' ~element.StdQuestionnaireTypeElement.slug~ '.html.twig'  with { element: element } %}
        {% endfor %}
    </ul>
{% else %}
<div class="title_finish">
    <span class="img"></span>
        <p class="no_bold">
            Vous n'avez pas encore ajouté d'éléments à votre questionnaire<br><br>
            Pour insérer une nouvelle question utilisez le menu de gauche et choissisez le type de question que vous souhaitez ajouter<br><br>
            Si vous souhaitez modifier l'ordre des question utilisez le bouton réorganiser les éléménts<br><br>
            Vous avez à chaque instant la possibilité de tester le rendu du formulaire grâce au bouton prévisualiser<br><br>
            Une fois votre questionnaire achevé, cliquez sur le bouton Teminer le questionnaire<br><br>
        </p>
    <div class="stop"></div>
</div>
{% endif %}   

<div class="stop"></div>
<div id="onLoad"
     style="z-index:3000;display: none; cursor: load; position: fixed;top: 0;left: 0; height:100%; width:100%; background-color: rgba(0, 0, 0, 0.7);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BB000000, endColorstr=#BB000000);-ms-filter: \"
     progid:DXImageTransform.Microsoft.gradient(startColorstr=#BB000000, endColorstr=#BB000000)\";">
    <center style="position:relative;top: 50%;">
        <?php echo image_tag('loader.gif', array('alt' => 'load', 'title' => 'load', 'height' => '60px', 'width' => '60px')); ?>
    </center>
</div>
