<div class="input-main">
    <div class="input-block">
        <div class="field">
         <p> {{ (errors is defined and errors[element.Question.id] is defined) ? errors[element.Question.id] : '' }} </p>     
        <input type="file" name="media_question[{{element.question.id}}]" />
            <p class="format">Allowed format :
                {% if element.Question.Options['MediaType']['format'] is defined %}
                {% set i=0 %}
                {% for  format in element.Question.Options['MediaType']['format']%}

                {% if format== 'img'%}
                {{ (i==0 ? 'images' : ' , ' ~ 'images')}} ( jpg , jpeg, png , gif )
                {% else %}
                {{ (i==0 ? format : ' , ' ~ format)}}
                {% endif %}
                {% set i = i+1 %}
                {% endfor %}
                {% endif %}
                <br/>
            </p>
     </div>
   </div>
</div>

