{% extends 'VMGeneralBundle:Back:layout.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block content %}
<div class="grid_8">
    <div class="block-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_header"> <h1>Etablissement : </h1></div>
                <div class="block_content">
                    <table cellspacing="5" cellpadding="5" width="100%" style="text-align:left;">
                        <tr>    
                            <th><p>Nom  </p></th>
                            <td><p>{{maker.name}}</p></td>
                        </tr>
                        <tr>    
                            <th><p>Adresse </p></th>
                            <td><p></p></td>
                        </tr>
                        <tr>    
                            <th><p>Statut établissement </p></th>
                            <td><p></p></td>
                        </tr>
                    </table>
                </div>
                <div class="block_header"> <h1>Gestionnaires : </h1></div>
                <div class="block_content">
                    <table cellspacing="5" cellpadding="5" width="100%" style="text-align:left;">
                        {% if collaborator is defined %}
                            {% for result in collaborator %}
                                <tr>    
                                    <th><p>{{ (result.User.UserProfile.firstname~' '~result.User.UserProfile.lastname)|capitalize }}</p></th>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if app.user.roles is defined and ('ROLE_SUPER_ADMIN' in app.user.roles or 'ROLE_SALES_MANAGER' in app.user.roles) %}
                            <tr>    
                                <th><p><a href="{{ path('bo_note_new',{'slug_ent':maker.slug,'is_main':1}) }}">Add Note</a></p></th>
                            </tr>
                        {% endif %} 
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="grid_4">
    <div class="block-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_header"> <h1>Actions</h1></div>
                <div class="block_content">
                    <ul>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}