
/*********************** GÉNERALE ***********************/
html{ height: 100%;}
html, body, .content {height: 100%;}
body > .content {height: auto; min-height: 92.2%; font-size: 12px;}
body{font-size: 12px;font-family: Arial, "Trebuchet MS", Helvetica, sans-serif !important;line-height: 20px; height: 100%; font-size:12px; color: #333; line-height: 20px;}
.content{padding: 0 0 0 0;margin: auto;height:auto; width: 1100px;}
.left {float: left;}
.right{float: right !important;}
.stop{clear: both;}
.italic{ font-style: italic!important;}
.bold{ font-weight: 700!important;}
.souligne{text-decoration: underline;}
.tenpx{ font-size: 10px !important;}
.elevenpx{font-size: 11px !important;}
.twelvepx{font-size: 12px !important;}
.thirteenpx{font-size: 13px !important;}
.fourteenpx{font-size: 14px !important;}
.fifteenpx{font-size: 15px !important;}
.sixteenpx{font-size: 16px !important;}
.seventeenpx{font-size: 17px !important;}
.eighteenpx{font-size: 18px !important;}
.nineteenpx{font-size: 19px !important;}
.twentypx{font-size: 20px !important;}
a {text-decoration: none; color: #3B81BE;cursor: pointer;}
a:visited {color: #3B81BE;}
a:hover {color: #b40a0a;text-decoration: none;}
.text_left{text-align: left;}
.text_right{text-align: right;}
.text_center{text-align: center;}
.justify{text-align: justify;}
img{width: 100%;}
p{color: #333;}
.color_orange{color: orange}
.color_green {color: #696; }
.color_grey {color: #666; }
.a_block{display: block;}
.opacity{ opacity: 0.2;}
.no_padding{padding: 0;}
.no_margin{margin: 0 !important; }
.M_auto{margin: auto !important; float:none !important; }

/*********************** TAILLE BLOCK ***********************/
.container{margin-left: 1%;margin-right: 1%;width: 98%;padding-bottom: 75px; overflow: auto;}
._10 { width: 9%;}
._20 { width: 19%;}
._25 { width: 24%;}
._30 { width: 29%;}
._40 { width: 39%;}
._50 { width: 49%;}
._60 { width: 59%;}
._70 { width: 69%;}
._80 { width: 79%;}
._90 { width: 89%;}
._100 { width: 99%;}
._10_imp { width: 9% !important;}
._20_imp  { width: 19% !important;}
._30_imp  { width: 29% !important;}
._40_imp  { width: 39% !important;}
._50_imp  { width: 49% !important;}
._60_imp  { width: 59% !important;}
._70_imp  { width: 69% !important;}
._80_imp  { width: 79% !important;}
._90_imp  { width: 89% !important;}
._100_imp  { width: 99% !important;}
.auto{width: auto;}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{float:left; margin:  10px 0.5% 0     0.5%;}
.grid_1 .block_header h1,.grid_2 .block_header h1,.grid_3 .block_header h1,.grid_4 .block_header h1,.grid_5 .block_header h1,.grid_6 .block_header h1,.grid_7 .block_header h1,.grid_8 .block_header h1,.grid_9 .block_header h1,.grid_10 .block_header h1,.grid_11 .block_header h1,.grid_12 .block_header h1 {font-size: 18px; text-transform:uppercase;}
.grid_1 .block_header h2,.grid_2 .block_header h2,.grid_3 .block_header h2,.grid_4 .block_header h2,.grid_5 .block_header h2,.grid_6 .block_header h2,.grid_7 .block_header h2,.grid_8 .block_header h2,.grid_9 .block_header h2,.grid_10 .block_header h2,.grid_11 .block_header h2,.grid_12 .block_header h2 {font-size: 16px; text-transform:uppercase; }
.grid_1 .block_header h3,.grid_2 .block_header h3,.grid_3 .block_header h3,.grid_4 .block_header h3,.grid_5 .block_header h3,.grid_6 .block_header h3,.grid_7 .block_header h3,.grid_8 .block_header h3,.grid_9 .block_header h3,.grid_10 .block_header h3,.grid_11 .block_header h3,.grid_12 .block_header h3 {font-size: 14px; text-transform:uppercase;}
.grid_1 {width: 7.33%;}
.grid_2 {width: 15.66%;}
.grid_3 {width: 24%;}
.grid_4 {width: 31.33%;}
.grid_5 {width: 40.66%;}
.grid_6 {width: 49%;}
.grid_7 {width: 57.33%;}
.grid_8 {width: 66.66%;}
.grid_9 {width: 74%;}
.grid_10 {width: 82.33%;}
.grid_11{width: 90.66%;}
.grid_12{width: 99%;}
.block{padding:  10px 2%;}
.height_50 { min-height: 50px;}
.height_60 { min-height: 60px;}
.height_70 { min-height: 70px;}
.height_80 { min-height: 80px;}
.height_90 { min-height: 90px;}
.height_100 { min-height: 100px;}
.height_150 { min-height: 150px;}
.height_200 { min-height: 200px;}
.height_250 { min-height: 250px;}
.height_300 { min-height: 300px;}

/*********************** BORDER PRINCIPALE ***********************/

.block_border{ width: auto;margin-bottom: 10px;background-color: white;}
.block_border._2{border-width: 2px;}
.block_border._3{border-width: 3px;}
.block_border._4{border-width: 4px;}
.block_border._5{border-width: 5px;}
.block_border._6{border-width: 6px;}
.block_border._7{border-width: 7px;}
.block_border._8{border-width: 8px;}
.block_border._9{border-width: 9px;}
.block_border._10{border-width: 10px;}
.block_border.blue{border-color: #0e394a}
.block_border.orange{border-color: #ffa84c}
.block_border.green{border-color: #9dbc00}

.block_border .block_design.sidebar{border: 1px solid #e9e9e9;box-shadow: 1px 1px 6px #F9F9F9;}
/*********** type formation  ********/
.button_continu {background-color: #ff9933;color: white!important; }
.button_initial {background-color: #afdb2c;color: white!important;}
.button_initial, .button_continu {color: white;border-radius: 3px;width: 60px;text-align: center;margin-right: 10px;font-size: 11px!important; padding: 6px; margin-top: 3%;font-weight:normal;}
.list_border li {padding: 10px;}
.number1, .number2, .number3{
    font-size: 34px!important;
    display: block;
    background-color: white;
    box-shadow: 0px 0px 0px #AAAAAA !important;
    margin-top: 6px;
    border-radius: 5px;
    float: left;
    padding: 3% 5%;
}
/*********** Header  ********/
header input[type="text"] { border-radius: 0px;border: none; box-shadow: 0px 0px 0px transparent; margin: 0;border: 2px solid transparent;width: 50% !important;}
header input[type="text"]:hover{ border: 2px solid #9DCE42;}
#header_complet {
    background: #28343b; /* Old browsers */
    background: -moz-linear-gradient(top,  #28343b 0%, #6a7075 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#28343b), color-stop(100%,#6a7075)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #28343b 0%,#6a7075 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #28343b 0%,#6a7075 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #28343b 0%,#6a7075 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #28343b 0%,#6a7075 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#6a7075',GradientType=0 ); /* IE6-9 */
    border-bottom:3px solid #7A9E38;
}
.menu_principal li a:hover{background-color: #9DCE42;transition-property: background-color;transition-duration: 0.3s;transition-timing-fonction: linear;}
.menu_principal{margin: auto; height:62px; height: 34px;border-top:3px solid #7A9E38;margin-top:10px;background-color:#9DCE42;}
.menu_principal li { width:auto;  font-size: 12px; float: left;}
.menu_principal li a {color: #FFF;padding: 10px 20px 10px 20px; display:block; background-color: transparent;font-weight: 700;}
.menu_principal ul {width:1100px; margin:auto;}
.logo {float: left;
    background: url("../images/logofs.png") no-repeat scroll left top transparent;
    display: block;
    height: 70px;
    text-indent: -9999px;
    width: 150px;
    background-size: 90%;
    background-position-x: 7px;
    background-position-y: 14px;
    margin-top: -5px;}
.btn_menu_recherche{height: 24px !important; font-size: 11px; padding-left: 10px; padding-bottom: 16px;background: url('../images/loupe_recherche.png') no-repeat 1px 1px #f0f0f0;width: 34px !important;padding: 10px; border: none;float: left;background-color: #9ed44b;background-position-x: 9px;background-position-y: 4px;}
.recherche_header{ padding: 0px 5px 0px 5px;  width: 99.5%; width: 1000px; margin:auto;}
.recherche_header  form .line input[type="radio"] {margin-top: 8px !important;margin-left: -35px !important;font-weight: normal;width: 11px !important;background-color: #FFF !important;}
.recherche_header label {color: white !important; margin-right: 35px !important;font-size: 11px !important;}
.recherche_header .line {margin-left: 16%; width: 49%;}
.recherche_header .left {margin: auto; height: 12px; margin-top: 25px;width:53%;}
.recherche_header .left .left {margin-top: 0;}
.recherche_header select {height: 25px;margin-top: 0px; margin-right: 10px; float:left;margin-left: 18%;}
.connexion {padding: 10px; margin-top:13px; }

.connexion p{color:#fff; margin-bottom:5px; ;font-size: 13px; font-weight:bold;}
.connexion span{color:#333; font-size: 13px;}
.connexion a{ font-size: 12px;}
/*********************** SIDEBAR / LIST ***********************/
.block_content li img {width: 18%;float: left; margin-right:1%;min-width: 25px;max-width: 70px;min-height: 20px;max-height: 70px;margin: 0 auto; }
.block_content li .info { width: 86%; float: left; margin-left: 2%;}
.block_design.sidebar .block_content li .info { width: 100%; float: left; margin-left: 4%;}
.block_content li .info h2{font-weight: bold;margin-bottom: 5px;}
.block_content li .info p{ margin-bottom: 0; line-height: 20px;}
.block_design.sidebar .block_content,.block_design.list .block_content{padding: 0px !important;}
.block_design.sidebar .block_content ul li{padding:4%;clear: both;}

/*********************** LIST ***********************/
.sidebar .list li {border-bottom: 1px solid #d0d0d0; padding: 0 !important;}
.sidebar .list li:nth-child(even) {background-color: #F9F9F9;}
.sidebar .list li img{width: 100%; margin: auto;text-align: center;}
.sidebar .list li a {display: block;overflow: hidden;padding: 10px;}
.sidebar .list li a:hover {background-color: #e9e9e9;}
.sidebar li img {margin-right: 10px;}

.block_header.orange,.sidebar .block_header.orange{
    background: rgb(255,168,76) !important;
    font-weight: bold;
}
.block_header.green,.sidebar .block_header.green,.block_header{
    background: white!important;
    font-weight: bold;
    color: #333 !important;
}
.block_header{border-bottom: 1px solid #E7E7DD;clear: both;padding: 12px;color: white;}
.grid_12 .block_header{border-bottom: 5px solid #E9E9E9;}
.block_header.blue{
    background: rgb(19,81,106);
    font-weight: bold;
}

/*********************** TABS ***********************/

.simple_tabs .tabs li{float: left;padding: 0 !important; min-width: 50px;}
.simple_tabs .tabs + .content{ box-shadow: 0px 0px 0px #333; width: 100% !important;padding:10px 1%;}
.simple_tabs .tabs.orange + .content{ box-shadow: 0px 0px 0px #333; width: 100% !important;padding:10px 1%;}
.simple_tabs .tabs{overflow: hidden; border-bottom: 2px solid #a9de48; margin-top: 10px;}
.simple_tabs .block_tabs .tabs{overflow: hidden;margin: 10px -14px 0 -6px; }
.simple_tabs .tabs.orange {overflow: hidden;}
.tabs.orange a:hover, .tabs.orange a.on { color: #333 ;border-bottom: 3px solid #F99E14;}
.simple_tabs .tabs_border.orange a:hover, .tabs.orange a.on {!important; color: #333 !important;border-bottom: 3px solid #F99E14;}
.simple_tabs .tabs_border a,.simple_tabs .tabs a  {border-left:10px solid #a9de48;margin-right: 1%;height: 20px;text-align: center;padding:10px 5%;padding-top: 8px;background-color: #D7F0A8; opacity:0.5;color: white;font-weight: bold;display:block;}
.simple_tabs .tabs.orange a,.simple_tabs .tabs_border.orange  a{float: left;font-size: 12px;margin-right: 1%;width: 90%;height: 20px;text-align: center;padding:5px 5%;padding-top: 8px;background-color: white;color: #444;font-weight: bold;}
.simple_tabs .tabs a:hover,.simple_tabs .tabs a.on{opacity: 1; color:white; }
.simple_tabs .tabs_border li{float: left;padding: 0 !important;margin-right: 3%;margin-left: 1%; min-width: 50px;}
.block_design .simple_tabs .tabs_border + .content{border: 1px solid #94b892; box-shadow: 0px 0px 0px #333; width: 100% !important;padding:10px 1%; background-color: white;box-shadow: 0px 0px 0px #AAAAAA !important;}
.simple_tabs .tabs_border + .content{border: 1px solid #94b892; box-shadow: 0px 0px 0px #333; width: 100% !important;padding:10px 1%; background-color: white;border: 1px solid lightgray;box-shadow: 2px 2px 4px #AAAAAA !important; }
.simple_tabs .tabs_border.orange + .content{border: 1px solid #e48b00 !important; box-shadow: 0px 0px 0px #333; width: 100% !important;padding:10px 1%;}
.simple_tabs .tabs_border{overflow: hidden;}
.simple_tabs{width: 100%;margin-bottom: 10px; margin-top: -20px;}
.simple_tabs .tabs._1 li  {width: 30%;}
.simple_tabs .tabs._2 li  {width: 25%;}
.simple_tabs .tabs._3 li  {width: 22%;}
.simple_tabs .tabs._4 li  {width: 19%;}
.simple_tabs .tabs._5 li  {width: 15%;}
.simple_tabs .tabs._6 li  {width: 12%;}
/*********************** LIST DESCRIPTION ***********************/

.border_descriptif { width: 100%; overflow: hidden;}
.list_descriptif li {padding: 10px 10px; float: left;width: 100%;}
.list_descriptif .titre{
    background: #B6E026!important;
    color: #FFF;
}
.list_descriptif p{margin: 0 !important;}
.list_descriptif{margin: 10px 0;}
.list_descriptif li:nth-child(odd){background-color: #F9F9F9;}
.list_descriptif li span {color: #728EAD; line-height: 20px;}
.list_objectif, .list_plus{padding: 10px 0;max-width:100%;color: #666;font-weight: bold;margin-bottom:20px; float: left; width:50%;}
.list_objectif .titre {text-align: left;padding: 5px;font-size: 14px;font-weight: bold;border-bottom:2px solid #F93; color: #333;width:90%;}
.list_plus .titre{text-align: left;padding: 5px;font-size: 14px;font-weight: bold;border-bottom:2px solid #B6E026;color: #333;width:90%;}
.list_objectif li,.list_plus li {font-size: 13px;}
.block_header.orange h1,.block_header.green h1,.block_header.blue h1,.block_design.search_engine .block_header h1{color: white !important;}
.block_design.sidebar .block_header h1,.block_design.sidebar .block_header h2,.block_design.sidebar .block_header h3 {color: white !important;}
.block_design.sidebar .block_header{
    padding:  10px 3%;
    background: rgb(19,81,106);
    background: -moz-linear-gradient(top, rgba(19,81,106,1) 0%, rgba(14,57,74,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(19,81,106,1)), color-stop(100%,rgba(14,57,74,1)));
    background: -webkit-linear-gradient(top, rgba(19,81,106,1) 0%,rgba(14,57,74,1) 100%);
    background: -o-linear-gradient(top, rgba(19,81,106,1) 0%,rgba(14,57,74,1) 100%);
    background: -ms-linear-gradient(top, rgba(19,81,106,1) 0%,rgba(14,57,74,1) 100%);
    background: linear-gradient(top, rgba(19,81,106,1) 0%,rgba(14,57,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13516a', endColorstr='#0e394a',GradientType=0 );
    text-align: center;
    font-weight: bold;
}
.block_design.sidebar .block_header.green{
    padding:  10px 3%;
    background: rgb(19,81,106);
    background: -moz-linear-gradient(top, rgba(19,81,106,1) 0%, rgba(14,57,74,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(19,81,106,1)), color-stop(100%,rgba(14,57,74,1)));
    background: -webkit-linear-gradient(top, rgba(19,81,106,1) 0%,rgba(14,57,74,1) 100%);
    background: -o-linear-gradient(top, rgba(19,81,106,1) 0%,rgba(14,57,74,1) 100%);
    background: -ms-linear-gradient(top, rgba(19,81,106,1) 0%,rgba(14,57,74,1) 100%);
    background: linear-gradient(top, rgba(19,81,106,1) 0%,rgba(14,57,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13516a', endColorstr='#0e394a',GradientType=0 );
    text-align: center;
    font-weight: bold;
}
/*********** Panier ********/

#rightCart {width: 10%;height: 100%!important;position: fixed;right: 0; bottom: 0px; border-left: 1px solid #e0e0e0;background-color: white;box-shadow: 1px 6px 13px #999;}
.titre_panier{padding: 0.5%;font-size: 14px!important;font-weight: bold;display: block;
    background: rgb(19,81,106);
    background: -moz-linear-gradient(top,rgba(19,81,106,1) 0%,rgba(14,57,74,1) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(19,81,106,1)),color-stop(100%,rgba(14,57,74,1)));
    background: -webkit-linear-gradient(top,rgba(19,81,106,1) 0%,rgba(14,57,74,1) 100%);
    background: -o-linear-gradient(top,rgba(19,81,106,1) 0%,rgba(14,57,74,1) 100%);
    background: -ms-linear-gradient(top,rgba(19,81,106,1) 0%,rgba(14,57,74,1) 100%);
    background: linear-gradient(top,rgba(19,81,106,1) 0%,rgba(14,57,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#13516a',endColorstr='#0e394a',GradientType=0);
    text-align: center;color: #fff!important;font-family: Arial,sans-serif;font-size: 14px; font-weight: bold; text-decoration: none;border-bottom: solid 1px #0e394a;border-left: solid 1px #0e394a; border-right: solid 1px #0e394a;width: 9%;z-index: 100;position: fixed;text-align: center;bottom: 0;right: 0;}
.ajout_selection_vide img {width: 100%; max-width: 150px;}
.ajout_selection_vide li {text-align: center; padding: 10px;z-index: 100;}
.fleche img {width: 100%;max-width: 120px;margin: 10px;}
.ajout_selection_vide img.etape {width: 17%;text-align: center;}

@media screen and (max-width: 1400px) {
    .ajout_selection_vide li{float: left;height: 100px; text-align: left;width: 37%;}
    .ajout_selection_vide p{float: left;width: 42%;margin-top: 0px !important;}
    .ajout_selection_vide p.border_selection{float: left; width: 15%;margin-top: 0px !important;}
    .ajout_selection_vide img.etape{width:50%;text-align: center;margin-top: 30%;}
    .ajout_selection_vide img{float: left;width: 37%; max-width: 150px;margin-right: 10px;}
    .ajout_selection_vide{background-color: white; border-left: 1px solid #e0e0e0; background-color: white;box-shadow: 1px 0px 13px #999;}
    .ajout_selection_vide li:last-child{border-bottom: 0px solid #D9D9D9;}
    .ajout_selection_vide p{margin-top: 10px;}
    .panier_formation .click_remove img  {width:15px;cursor: pointer;float: right;position: relative; bottom: 0px;bottom: 0px;right: 0px;}
    #rightCart {bottom: -14px; position: fixed;width: 100%;height: 134px !important; margin: 0 auto; text-align: center;background-color: transparent;box-shadow:0px 0px 0px #333;}
    .fleche img {-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);transform: rotate(-90deg);width:100%;max-width: 120px; margin: 10px;}
    .ajout_selection_vide li.fleche{width:12%;text-align: center;}
    .ajout_selection_vide li.etape{width:12%;text-align: center;}
    .titre_panier {position: absolute;top: auto;right: 42%;bottom: 100px;text-align: center;margin: 0 auto;border-radius: 10px 10px 0 0;width: 145px;}
}
@media screen and (min-width: 1400px) {
    .titre_panier{bottom:0 !important;}
}
.connexion_pro{margin-top: 10px; margin-right: 58px;}
.connexion_pro p{ margin-top: 10px;}
#remember_me {margin-top: 4px !important;}

/*********************** Messagerie ***********************/
.bulle_mess {
    background: #eaeaea; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #eaeaea 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#eaeaea), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #eaeaea 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #eaeaea 0%,#e5e5e5 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #eaeaea 0%,#e5e5e5 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #eaeaea 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    width:92%;
}

.bulle_ecole {
    background: #4f85bb; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #4f85bb 0%, #4f85bb 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#4f85bb), color-stop(100%,#4f85bb)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #4f85bb 0%,#4f85bb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #4f85bb 0%,#4f85bb 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #4f85bb 0%,#4f85bb 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #4f85bb 0%,#4f85bb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#4f85bb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: white;
    width:92%;
}
.bulle_mess, .bulle_ecole {padding: 3%;}
.messagerie{overflow: hidden;}
.messagerie .right p{float: right;}
.messagerie .left p{float: left;}
.messagerie .right .date{float: left;}
.messagerie .left .date{float: right;}
.messagerie .right{float: right; width: 55%;}
.messagerie .left{float: left; width: 55%;}

/*********************** PAGINATION *******************************/
.block_design .block_content .pagination{overflow: auto; padding: 10px 0;margin: auto; text-align: center;width:auto;width: 120%;margin-right: 40px;}
.block_design .block_content .pagination li{height: 30px; background-color: #F9F9F9; margin-left:0.5%;margin-right:0.5%; ;border:1px solid #D0D0D0; border-radius: 5px;  float: left;
    background: #fcfcfc; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfcfc 0%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcfcfc 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcfcfc 0%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcfcfc 0%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcfcfc 0%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    padding:0px;

}
.block_design .block_content .pagination li:hover{
    background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(top,  #ededed 0%, #fcfcfc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ededed 0%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ededed 0%,#fcfcfc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ededed 0%,#fcfcfc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ededed 0%,#fcfcfc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
}
.block_design .block_content .pagination li a{display: block;color: #333; padding:5px;font-size: 11px;}
.block_design .block_content .pagination li a:hover{display: block;}
.block_design .block_content .pagination li.on a{color:#333; cursor:default;    font-weight: bold; }
.pagination{overflow: auto; padding: 10px 0;margin: auto; text-align: center;width: 100%; }
.pagination li{height: 10px; background-color: #F9F9F9; margin-left:2%;padding: 2%;}
.block_design.sidebar .block_content .table .pagination{overflow: auto; padding: 10px 0;margin: auto; text-align: center; float: left;width: 100%; }
.block_design.sidebar .block_content .table .pagination li{float: left;height: 10px; background-color: #F9F9F9; margin-left:2%;padding: 2%;}
li.next,li.nextV { background-color:transparent !important; padding-top: 0px !important; margin-left: 0px !important;margin-right: 0px !important;}
li.prev,li.prevV { background-color:transparent !important; padding-top: 0px !important; margin-left: 0px !important; margin-right: 0px !important;}
li.next img,li.prev img{width: 17px;}
li.nextV img,li.prevV img{width: 30px;}





.form_login input{margin: 5px 0 !important;}
.form_login .btn {margin-right:20.5% !important;}
/*********************** BREADCRUMBS ***********************/
.breadcrumbs{width: auto; margin: 10px auto 0px auto;padding: 0.5%; width: 97.8%; background-color: white;border: 1px solid #e9e9e9;
    box-shadow: 1px 1px 6px #F9F9F9;margin-bottom: 10px;}
.breadcrumbs span {display: block;margin-top: 3px;margin-left: 1%;}
.breadcrumbs img {width: 1.8%;}



.cont_left_mess {
    float: left;
    margin: 5px 0;
    width: 420px;
}
.cont_left_mess p {
    color: #555555;
    font-size: 12px !important;
}

.cont_right_mess {
    float: right;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 420px;
}
.bulle_mess {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #F6F6F6 47%, #EDEDED 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.bulle_mess, .bulle_ecole {
    border: 1px solid #D3D3D3;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 10px;
    padding: 10px;
    width: 400px;
}

.onglet_nav_top {
    border-bottom: 1px solid #D9D9D9;
    margin: 10px 0 20px;
    padding: 0 0 0 5px;
}

.dixpx {
    font-size: 10px !important;
}
.btn.tiny {
    font-size: 10px;
    padding: 4px 7px;
}

.messagerie_home a.clik {
    clear: both;
    display: block;
    height: auto;
    padding: 10px;
    width: auto;
}
.messagerie_home a {
    color: #3B81BE;
    cursor: pointer;
    text-decoration: none;
}

.cont_left_profil_mess {
    float: left;
    width: 12%;
}

.messagerie_home p.href {
    color: #3B81BE;
    cursor: pointer;
    text-decoration: none;
}
.red {
    color: #CC3333;
}

.messagerie_home:nth-child(2n+1) {
    background-color: #F9F9F9;
}
.messagerie_home {
    border-top: 1px solid #D3D3D3;
    cursor: pointer;
    display: block;
}

.vingtpx {
    font-size: 20px !important;
}

.messagerie_home img{width:60% !important; }