{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset form_main">
    <div class="input-main">
        <div class="input-block">
            {{ form_widget(form) }}
        </div>
    </div>
    <div class="text_center button_save">
           <div><button type="submit" class="btn_principal">{{ 'resetting.reset.submit'|trans }}</button></div>
    </div>
</form>
