{% set base_url = "http://dev.family-and-co.com/app_dev.php" %}
<div id="create_folder" style="display: none">
    <form data-type="ajax" action="{{ base_url }}/create-folder" method="POST">
        <div class="form-group">
            <input name="parent_id" type="hidden" />
            <input name="folder_name" class="form-control" type="text" placeholder="Nom du dossier"/>  
        </div>
        <button id="send_folder" type="submit" class="btn btn-default">Créer</button>
    </form>
</div>
<div id="add_file" style="display: none">
    <form>
        <div class="form-group">
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Ajouter un fichier</span>
                <!-- The file input field used as target for the file upload widget -->
                <input name="uploadingFile" type="file" />
                <!--<input id="fileupload" name="files[]" multiple>-->
            </span>
        </div>
        <button id="send_file" type="submit" class="btn btn-default">Envoyer</button>
    </form>
</div>
<div id="move_file" style="display: none">
    <form>
        <div class="form-group">
          <select onChange="onChangeFolder(this.options[this.selectedIndex].value)" id="folderSelect" class="form-control">
          </select>
        </div>
        <div class="form-group">
            <button onClick="changePath()" type="button" class="btn btn-primary">Déplacer</button>
        </div>
    </form>
</div>
<div id="prevu_file">
        <div class="popover" role="tooltip">
            <h3 class="popover-title">Prévisualisation</h3>
            <div class="popover-content"></div>
        </div>
</div>
<div id="config_file" style="display: none">
    <form id="formConfig" role="form">
        <div class="checkbox">
            <label>
              <input data-type="ajax" data-url="{{ base_url }}/change-status" id="havePass" type="checkbox" name="havePass" value="2"/> Autoriser l'accès avec mot de passe
            </label>
        </div> 
        <div id="passwordInfo" class="form-group input-group" style="display:none;">
            <p>Lien : <strong id="folderReelLink"></strong></br><strong id="folderLink">...</strong></p>
            <p>Mot de passe : <strong id="folderPass">...</strong></p>
            <input value="..." name="folder_pass" type="hidden">
        </div>   
        <input type="hidden" value="0" name="access" />
        <input name="folder_id" type="hidden" />
        <div class="form-group input-group">
            <input placeholder="Email à inviter" name="email" type="text" class="form-control">
            <span class="input-group-btn">
                <button data-tooltip="tooltip" title="Partager avec ce mail" data- class="btn btn-default add-email" type="button">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
        </div>   
        <div class="inputs_emails">
        </div>
    </form>
</div>