<div class="input-main">
    <h3>Choice form</h3>
    <div class="input-block">
        <div class="label">
            <label><span>Question multiple :</span>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in risus dignissim, ultricies orci ut, congue neque. Nam vitae urna ante ?</label>
        </div>
        <div class="field">
            <p><input type="checkbox" name="frites"/> <label >Frites</label></p>
            <p><input type="checkbox" name="steak"  /> <label >Steak haché</label></p>
            <p><input type="checkbox" name="epinards"  /> <label >Epinards</label></p>
            <p><input type="checkbox" name="huitres"  /> <label >Huitres</label></p>
        </div>
    </div>
    <div class="input-block">
        <div class="label">
            <label><span>Question QCM :</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in risus dignissim, ultricies orci ut, congue neque. Nam vitae urna ante ?</label>
        </div>
        <div class="field">
            <p> <input type="checkbox" name="frites"/> <label >Frites</label></p>
            <p> <input type="checkbox" name="steak"  /> <label >Steak haché</label> </p>
            <p> <input type="checkbox" name="epinards"  /> <label >Epinards</label></p>
            <p> <input type="checkbox" name="huitres"  /> <label >Huitres</label></p>
        </div>
    </div>
    <div class="input-block">
        <div class="label">
            <label><span>Question unique :</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in risus dignissim, ultricies orci ut, congue neque. Nam vitae urna ante ?</label>
        </div>
        <div class="field">
            <p><input type="radio" name="frites"/> <label >Frites</label></p>
            <p><input type="radio" name="steak" /> <label >Steak haché</label></p>
            <p><input type="radio" name="epinards" /> <label >Epinards</label></p>
            <p><input type="radio" name="huitres" /> <label >Huitres</label></p>
        </div>
    </div>
</div>