<div class="input-main">
    <h3>DateTime form</h3>
    <div class="input-block date">
        <div class="grid_12">
            <div class="label"><label>Date time</label></div>
            <div class="stop"></div>
            <div class="grid_4">
                <div class="field"><input type="date"/></div>
                <span>à</span>
            </div>
            <div class="grid_4">
                <div class="field"><input type="number"/></div>
                <span>H</span>
            </div>
            <div class="grid_4">
                <div class="field"><input type="number"/></div>
                <span>min</span>
            </div>
        </div>
    </div>
    <div class="input-block date">
        <div class="grid_12">
            <div class="label"><label>Datetime Range</label></div>
            <div class="stop"></div>
            <div class="grid_4">
                <div class="field"><input type="date"/></div>
                <span>à</span>
            </div>
            <div class="grid_4">
                <div class="field"><input type="number"/></div>
                <span>H</span>
            </div>
            <div class="grid_4">
                <div class="field"><input type="number"/></div>
                <span>min</span>
            </div>
        </div>
        <div class="grid_12">
            <div class="grid_4">
                <div class="field"><input type="date"/></div>
                <span>à</span>
            </div>
            <div class="grid_4">
                <div class="field"><input type="number"/></div>
                <span>H</span>
            </div>
            <div class="grid_4">
                <div class="field"><input type="number"/></div>
                <span>min</span>
            </div>
        </div>
    </div>
</div>