<div>
    <div class="input-main">
        <h3>Open question form</h3>
        <div class="input-block">
            <div class="label">
                <label> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in risus dignissim, ultricies orci ut, congue neque. Nam vitae urna ante ?</label>
            </div>
            <div class="field">
                <textarea style="height: 100px;"></textarea>
            </div>
        </div>
    </div>
</div>