    <div class="input-main">
        <h3>Webcam form</h3>
        <div class="input-block">
            <div class="grid_5">
                <video src="#"></video>
            </div>
            <div class="grid_7">
                <div class="grid_6"⁪>
                    <p>temps de lecture</p>
                </div>
                <div class="grid_6"⁪>
                    <p>temps de reponse</p>
                </div>
            </div>
        </div>
    </div>
