<!DOCTYPE html>
<div>
    <!-- Navigation -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="panel panel-primary">
                        <a href='//files.dev-monkey.org' class="logo">DM <small>Photos et vidéos</small></a>
                        <div class="panel-heading">
                            <h3 class="panel-title">Invitation</h3>
                        </div>
                        <div class="panel-body">
                            <p>Vous étes invité à rejoindre la dev-monkey family :)</p>
                            <p>Un site de partage d'images et de vidéos.</p>
                            <p>Ce site vous permettra, en toute sécurité, de sauvegarder et si vous le souhaitez d'échanger vos images et vidéos.</p>
                            <p>Pour finaliser votre inscription suivez ce lien: <a href="<%= link %>">Finaliser votre inscription</a>
                            <p>Attention le site ne sera disponible qu'à partir de la machine que vous avez utilisé pour vous inscrire</p>
                            <p>Si le lien ne fonctionne pas copié/collé le lien ci-dessous: </p>
                            <p><%= link %></p>
                            <hr/>
                            <p>Une fois votre compte créé suivez ce lien <a href="<%= linkPartage %>">Dossier partagé</a> pour voir le partage</p>
                            <p>A bientôt sur dev-monkey ;)</p>
                            <p>Site protégé par "<a href="http://fr.wikipedia.org/wiki/HyperText_Transfer_Protocol_Secure">SSL</a>" et "<a hre="http://fr.wikipedia.org/wiki/Facteur_d%27authentification">Authentification à deux facteurs</a>"
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
</div>
