<div class="col-lg-4" id="chat">
    <div class="chat-panel panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-comments fa-fw"></i>
            Chat
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-chevron-down"></i>
                </button>
                <ul class="dropdown-menu slidedown">
                    <li>
                        <a href="#">
                            <i class="fa fa-refresh fa-fw"></i> Refresh
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-check-circle fa-fw"></i> Available
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-times fa-fw"></i> Busy
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-clock-o fa-fw"></i> Away
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <i class="fa fa-sign-out fa-fw"></i> Sign Out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <ul class="chat">
                <% chats.forEach( function( chat ){ %>
                <li class="left clearfix">
                    <span class="chat-img pull-left">
                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font"><%= chat.pseudo %></strong>
                            <small class="pull-right text-muted">
                                <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                            </small>
                        </div>
                        <p>
                            <%= chat.message %>
                        </p>
                    </div>
                </li>
                <% }); %>
            </ul>
        </div>
        <!-- /.panel-body -->
        <div class="panel-footer">
            <form action="/" method="post" id="send_chat">        
                <div class="input-group">
                    <input id="message" type="text" class="form-control input-sm" placeholder="Type your message here...">   
                    <span class="input-group-btn">
                        <button class="btn btn-warning btn-sm" id="btn-chat">
                            Send
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <!-- /.panel-footer -->
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    $(document).ready(function(){
        $('.chat-panel .panel-body').scrollTop($('.chat-panel .panel-body')[0].scrollHeight);
    });
    // Connexion à socket.io
    var socket = io.connect('http://192.168.1.13:8080');

    <% if (user.username){ %>
            socket.emit('nouveau_client', '<%= user.username %>');
    <% } %>
            // Quand on reçoit un message, on l'insère dans la page
            socket.on('message', function (data) {
                insereMessage(data.pseudo, data.message)
            })

    // Quand un nouveau client se connecte, on affiche l'information
    socket.on('nouveau_client', function (pseudo) {
        $('.chat').prepend('<li class="left clearfix"><div class="chat-body clearfix">\
                                    <p><em>' + pseudo + ' a rejoint le Chat !</em></p>\
                                    </div></li>');
    })

    // Lorsqu'on envoie le formulaire, on transmet le message et on l'affiche sur la page
    $('#send_chat').submit(function () {
        var message = $('#message').val();
        socket.emit('message', message); // Transmet le message aux autres
        insereMessage('<%= user.username %>', message); // Affiche le message aussi sur notre page
        $('#message').val('').focus(); // Vide la zone de Chat et remet le focus dessus
        return false; // Permet de bloquer l'envoi "classique" du formulaire
    });
    $('#showChat').click(function () {
        $('#chat').slideToggle("slow", function () {
            if (!$(this).is(":hidden")) {
                $('#showChat').html('<a>Hide Chat</a>');
            } else {
                $('#showChat').html('<a>Show Chat</a>');
            }
        });
    });

    // Ajoute un message dans la page
    function insereMessage(pseudo, message) {
        var content = '<li class="left clearfix">\
                                    <span class="chat-img pull-left">\
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">\
                                    </span>\
                                    <div class="chat-body clearfix">\
                                        <div class="header">\
                                            <strong class="primary-font">' + pseudo + '</strong>\
                                            <small class="pull-right text-muted">\
                                                <i class="fa fa-clock-o fa-fw"></i> 12 mins ago\
                                            </small>\
                                        </div>\
                                        <p>\
                                            ' + message + '\
                                        </p>\
                                    </div>\
                                </li>';
        $('.chat').append(content);
        $(".chat-panel .panel-body").animate({scrollTop: $('.chat-panel .panel-body')[0].scrollHeight}, 1000);
    }
</script>