<% include chat %>
<footer>
    <span>© Dev-Monkey 2014</span>
<div class="btn-group pull-right">
  <button id="showChat" type="button" class="btn btn-default">Chat</button>
</div>
</footer>
 <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
        <script>

            // Connexion à socket.io
            var socket = io.connect('http://localhost:8080');

            // On demande le pseudo, on l'envoie au serveur et on l'affiche dans le titre
            $('#send_pseudo').submit(function () {
                var pseudo = $('#pseudo').val();
                socket.emit('nouveau_client', pseudo);
                $('#send_pseudo').remove();
                $('#send_chat').show();
                return false; // Permet de bloquer l'envoi "classique" du formulaire
            });

            // Quand on reçoit un message, on l'insère dans la page
            socket.on('message', function(data) {
                insereMessage(data.pseudo, data.message)
            })

            // Quand un nouveau client se connecte, on affiche l'information
            socket.on('nouveau_client', function(pseudo) {
                $('.chat').prepend('<li class="left clearfix"><div class="chat-body clearfix">\
                                    <p><em>' + pseudo + ' a rejoint le Chat !</em></p>\
                                    </div></li>');
            })

            // Lorsqu'on envoie le formulaire, on transmet le message et on l'affiche sur la page
            $('#send_chat').submit(function () {
                var message = $('#message').val();
                socket.emit('message', message); // Transmet le message aux autres
                insereMessage(pseudo, message); // Affiche le message aussi sur notre page
                $('#message').val('').focus(); // Vide la zone de Chat et remet le focus dessus
                return false; // Permet de bloquer l'envoi "classique" du formulaire
            });
            $('#showChat').click(function(){
                $('#chat').slideToggle();
            });
            
            // Ajoute un message dans la page
            function insereMessage(pseudo, message) {
                var content = '<li class="left clearfix">\
                                    <span class="chat-img pull-left">\
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">\
                                    </span>\
                                    <div class="chat-body clearfix">\
                                        <div class="header">\
                                            <strong class="primary-font">' + pseudo + '</strong>\
                                            <small class="pull-right text-muted">\
                                                <i class="fa fa-clock-o fa-fw"></i> 12 mins ago\
                                            </small>\
                                        </div>\
                                        <p>\
                                            ' + message + '\
                                        </p>\
                                    </div>\
                                </li>';
                $('.chat').append(content);
                $(".chat-panel .panel-body").animate({scrollTop:$('.chat-panel .panel-body')[0].scrollHeight}, 1000);
            }
        </script>