<!DOCTYPE html>
<html lang="en">
    <% include header %>
    <body>    
        <div class="container">   
            <div class="page-header">     
            </div>
            <div class="col-md-10 panel panel-default">
                <div class="panel-heading">Register</div>
                <div class="panel-body">
                    <% if (message) { %>
                    <p><%= message %></p>
                    <% } %>
                    <form action="/register" method="post">
                        <div>
                            <label>Username:</label>
                            <input type="text" name="username"/><br/>
                        </div>
                        <div>
                            <label>Password:</label>
                            <input type="password" name="password"/>
                        </div>
                        <div>
                            <input type="submit" value="Submit"/>
                        </div>
                    </form>
                </div>
                <p><small>Hint - bob:secret</small></p>
            </div>

            <hr>

            <% include footer %>
        </div>
        <!-- /container -->
        <script type="text/javascript">
            $(document).ready(function () {
                $('#home').addClass("active");
            });
        </script>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script
        src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    </body>
</html>