{% extends "PokerGeneralBundle::Front/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
<div>{{ error|trans }}</div>
{% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form action="{{ path("login_check") }}"  method="post" role="form">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            <fieldset>
                                <div class="form-group">
                                     <input class="form-control" placeholder="Pseudo" type="text" class="_90"  id="username" name="_username" value="{{ last_username }}" required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password"  id="password" name="_password" required="required" />
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />Remember Me
                                    </label>
                                </div>
                                <input class="btn btn-lg btn-success btn-block" type="submit" id="_submit" name="_submit" value="Login" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
