{% extends 'SOGeneralBundle:Front:layout.html.twig' %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block content %}

<div class="grid_12">
    <div class="border-main">
        <div class="block-simple">
            <div class="block_design">
                <div class="block_header"><h1>Block 100%</h1></div>
                <div class="block_content">

                </div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="grid_12">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_header"><h1>Block 100%</h1></div>
                <div class="block_content">

                </div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="stop"></div>
<div class="grid_6">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_header"><h1>Block 50%</h1></div>
                <div class="block_content">

                </div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="grid_6">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_header"><h1>Block 50%</h1></div>
                <div class="block_content">

                </div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="grid_7">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_header"><h1>Block 60%</h1></div>
                <div class="block_content">

                </div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="grid_5">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_header "><h1>Block 40%</h1></div>
                <div class="block_content">

                </div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="grid_8">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">

                <div class="block_header"><h1>Block 70%</h1></div>
                <div class="block_content">

                </div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="grid_4">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">

                <div class="block_header "><h1>Block 30%</h1></div>
                <div class="block_content">

                </div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="grid_9">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">

                <div class="block_header"><h1>Block 80%</h1></div>
                <div class="block_content">

                </div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="grid_3">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">

                <div class="block_header "><h1>Block 20%</h1></div>
                <div class="block_content">

                </div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="grid_10">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">

                <div class="block_header"><h1>Block 90%</h1></div>
                <div class="block_content">

                </div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="grid_2">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">

                <div class="block_header"><h1>Block 10%</h1></div>
                <div class="block_content">

                </div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="stop"></div>

<div class="grid_8">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">

                <div class="block_header"><h1>Block 2/3</h1></div>
                <div class="block_content">

                </div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="grid_4">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">

                <div class="block_header"><h1>Block 1/3</h1></div>
                <div class="block_content">

                </div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="stop"></div>
<div class="grid_4">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">

                <div class="block_header"><h1>Block 1/3</h1></div>
                <div class="block_content">

                </div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="grid_4">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">

                <div class="block_header"><h1>Block 1/3</h1></div>
                <div class="block_content">

                </div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="grid_4">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">

                <div class="block_header"><h1>Block 1/3</h1></div>
                <div class="block_content">


                </div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="stop"></div>
<div class="grid_3">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_header"><h1>Block 1/4</h1></div>
                <div class="block_content">

                </div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="grid_3">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_header"><h1>Block 1/4</h1></div>
                <div class="block_content"></div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="grid_3">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_header"><h1>Block 1/4</h1></div>
                <div class="block_content"></div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="grid_3">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_header"><h1>Block 1/4</h1></div>
                <div class="block_content"></div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="stop"></div>
<div class="grid_12">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_header"><h1>Differents Texte</h1></div>
                <div class="block_content">
                    <p class="bold">Texte en bold</p>

                    <p class="italic">Texte en Italique</p>

                    <p class="souligne">Texte souligné</p>

                    <p class="tenpx">Texte En font-size:10px</p>

                    <p class="elevenpx">Texte En font-size:11px</p>

                    <p class="twelvepx">Texte En font-size:12px</p>

                    <p class="thirteenpx">Texte En font-size:13px</p>

                    <p class="fourteenpx">Texte En font-size:14px</p>

                    <p class="fifteenpx">Texte En font-size:15px</p>

                    <p class="sixteenpx">Texte En font-size:16px</p>

                    <p class="seventeenpx">Texte En font-size:17px</p>

                    <p class="eighteenpx">Texte En font-size:18px</p>

                    <p class="nineteenpx">Texte En font-size:19px</p>

                    <p class="twentypx">Texte En font-size:20px</p>
                </div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="grid_12">
    <div class="border-main">
        <div class="block_design">
            <div class="block-border">
                <div class="block_header"><h1>taille input</h1></div>
                <div class="block_content">
                    <form method="post" action="traitement.php">
                        <input type="text" name="pseudo" class="_10" placeholder='10%'/>
                        <input type="text" name="pseudo" class="_20" placeholder='20%'/>
                        <input type="text" name="pseudo" class="_30" placeholder='30%'/>
                        <input type="text" name="pseudo" class="_40" placeholder='40%'/>
                        <input type="text" name="pseudo" class="_50" placeholder='50%'/>
                        <input type="text" name="pseudo" class="_60" placeholder='60%'/>
                        <input type="text" name="pseudo" class="_70" placeholder='70%'/>
                        <input type="text" name="pseudo" class="_80" placeholder='80%'/>
                        <input type="text" name="pseudo" class="_90" placeholder='90%'/>
                        <input type="text" name="pseudo" class="_100" placeholder='100%'/>
                    </form>
                    <div class="input-main">
                        <form method="post" action="traitement.php">
                            <div class="input-inline">
                                <div class="label">
                                    <label>Nom</label>
                                </div>
                                <div class="field">
                                    <input type="text" name="pseudo"/>
                                </div>
                            </div>
                            <div class="input-block">
                                <div class="label">
                                    <label>Prénom</label>
                                </div>
                                <div class="field">
                                    <input type="text" name="pseudo"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="block_footer"></div>
            </div>
        </div>
    </div>
</div>

<div class="grid_12">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_header"><h1>Tableau</h1></div>
                <div class="block_content">
                    <table class="table-simple">
                        <tr>
                            <th>case 1</th>
                            <th>case 2</th>
                            <th>case 3</th>
                            <th>case 4</th>
                            <th>case 5</th>
                        </tr>
                        <tr>
                            <td>case 1</td>
                            <td>case 2</td>
                            <td>case 3</td>
                            <td>case 4</td>
                            <td>case 5</td>
                        </tr>
                        <tr>
                            <td>case 1</td>
                            <td>case 2</td>
                            <td>case 3</td>
                            <td>case 4</td>
                            <td>case 5</td>
                        </tr>

                    </table>
                    <table class="table-border">
                        <tr>
                            <th>case 1</th>
                            <th>case 2</th>
                            <th>case 3</th>
                            <th>case 4</th>
                            <th>case 5</th>
                        </tr>
                        <tr>
                            <td>case 1</td>
                            <td>case 2</td>
                            <td>case 3</td>
                            <td>case 4</td>
                            <td>case 5</td>
                        </tr>
                        <tr>
                            <td>case 1</td>
                            <td>case 2</td>
                            <td>case 3</td>
                            <td>case 4</td>
                            <td>case 5</td>
                        </tr>

                    </table>

                </div>
                <div class="block_footer"></div>
            </div>

        </div>
    </div>
    <table class="table-block">
        <tr>
            <th>case 1</th>
            <th>case 2</th>
            <th>case 3</th>
            <th>case 4</th>
            <th>case 5</th>
        </tr>
        <tr>
            <td>case 1</td>
            <td>case 2</td>
            <td>case 3</td>
            <td>case 4</td>
            <td>case 5</td>
        </tr>
        <tr>
            <td>case 1</td>
            <td>case 2</td>
            <td>case 3</td>
            <td>case 4</td>
            <td>case 5</td>
        </tr>
    </table>
</div>
<div class="grid_12">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_header"><h1>List</h1></div>
                <div class="block_content">
                    <ul class="list-main">
                        <li>list 1</li>
                        <li>list 2</li>
                        <li>list 3</li>
                        <li>list 4</li>
                    </ul>
                    <ul class="list-simple">
                        <li>list 1</li>
                        <li>list 2</li>
                        <li>list 3</li>
                        <li>list 4</li>
                    </ul>
                    <ul class="list-border">
                        <li>list 1</li>
                        <li>list 2</li>
                        <li>list 3</li>
                        <li>list 4</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
