{% extends "VMGeneralBundle::Front/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block fos_user_content %}
<p class="succes">SUCCÉS</p>
<p>Bienvenue {{ user.username }}</p>
{% endblock fos_user_content %}

