<div class="grid_12">
    <div class="form_design">
    {% if form.enterprise is defined %}
        {{ form_row(form.enterprise) }}
    {% endif %}

    {{ form_row(form._token) }}
    <div class="text_center button_save">
       {{ form_row(form.save ) }}
    </div>
    </div>
</div>
<div class="stop"></div>