{% extends 'VMGeneralBundle:Front:layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <style>
        .panel-group {
            margin-bottom: 300px !important;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header edit" data-type="name">{{ recordingSession.name }}</h1> 
                <div id="successAlert" style="display:none" class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <span></span>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" onClick="$('#webcamContnair').hide()" data-parent="#accordion" href="#collapseOne">
                            Introduction
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body info">
                        <div class="pull-right">
                            <div class="panel panel-default">
                                <div class="panel-heading">Présentation vidéo</div>
                                <div class="panel-body"> 
                                    <video id="example_video" class="video-js vjs-default-skin" controls preload="none" width="360" height="240"
                                           poster=""
                                           data-setup="{}">
                                        <source src="/uploads/video.flv" type='video/flv' />
                                    </video>
                                </div>
                            </div> 
                        </div>
                        <div class="media-body" data-type="introduction">
                            {{ recordingSession.textIntroduction|raw }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a onClick="window.location.hash = '#collapseTwo';
                                $('#webcamContnair').show();" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Ce que vous voulez dire ( oui oui vous le voulez ! )
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        {{ recordingSession.textPresentation|raw }}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" id="webcamContnair" style="display:none; position:fixed; bottom:15px; right:0px;">
            <div class="panel-heading">Enregistrement</div>
            <div class="panel-body"> 
                {% include 'VMRecordingSessionBundle:Default:webcam.html.twig' %}
            </div>
        </div>
    </div>
    {% if app.request.attributes.get('_route') == 'mo_recording_session_show' %}
    {% endif %}
{% endblock %}
