{% extends 'VMGeneralBundle:Middle:layout.html.twig' %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block content %}

<div class="grid_12">
    <div class="border-main">
        <div class="block-border">
            <div class="block_design">
                <div class="block_header"><h1>Questionnaire's form base</h1></div>
                <div class="block_content">
                    <p><a href="{{ path('mo_questionnaire_elements', {'slug_ent': 'test', 'slug_quest': 'test'}) }}">Submit</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
