<div class="widget widget-lifestyle">
    <h2 class="widget-title clearfix">
        Top de la semaine
        <a href="#">View All</a>
        <span></span>
    </h2>
    <!-- widget-title-2 -->
    <ul class="list-unstyled">
        <li>
            <div class="item clearfix">
                <a href="#">
                    <img src="placeholders/posts/img-6.jpg" alt="">
                    <div class="mask">
                        <span class="icon-link"></span>
                    </div>				    			
                </a>
                <div class="item-content">
                    <header class="header-item">
                        <span class="icon-image pull-left"></span>
                        <div class="item-right">
                            <h4><a href="#">Alesya Kornetskaya</a></h4>
                            <ul class="list-inline kp-metadata clearfix">
                                <li class="kp-author"><span class="icon-chat pull-left"></span><a href="#">By Join</a></li>
                                <li class="kp-view"><span class="icon-calendar pull-left"></span>10 Sep 2013</li>
                            </ul>
                        </div>
                    </header>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                    <a href="#" class="read-more">Read more</a>
                </div>
            </div>
            <!-- item -->
        </li>
        <li>
            <div class="item clearfix">
                <a href="#" class="pull-left"><img src="placeholders/posts/img-8.jpg" alt=""></a>
                <div class="item-right">
                    <h4><a href="#">Nearly free, sent back to North Korea</a></h4>
                    <ul class="list-inline kp-metadata clearfix">
                        <li class="kp-time">10 Sep 2013</li>
                        <li class="kp-view"><span class="icon-eye pull-left"></span>50 View</li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="item clearfix">
                <a href="#" class="pull-left"><img src="placeholders/posts/img-9.jpg" alt=""></a>
                <div class="item-right">
                    <h4><a href="#">Nearly free, sent back to North Korea</a></h4>
                    <ul class="list-inline kp-metadata clearfix">
                        <li class="kp-time">10 Sep 2013</li>
                        <li class="kp-view"><span class="icon-eye pull-left"></span>50 View</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>
<!-- widget-lifestyle -->
<div class="widget widget-movie">
    <h2 class="widget-title clearfix">
        Top du mois
        <a href="#">View All</a>
        <span></span>
    </h2>
    <!-- widget-title-2 -->
    <div class="list_carousel responsive">
        <ul class="carousel-3">
            <li>
                <div class="item clearfix">
                    <a href="#">
                        <div class="video-wrapper">
                            <iframe width="250" height="188" src="http://www.youtube.com/embed/NLWsK1ZFunA" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </a>
                    <div class="item-content">
                        <header class="header-item">
                            <span class="icon-image pull-left"></span>
                            <div class="item-right">
                                <h4><a href="#">Alesya Kornetskaya</a></h4>
                                <ul class="list-inline kp-metadata clearfix">
                                    <li class="kp-author"><span class="icon-chat pull-left"></span><a href="#">By Join</a></li>
                                    <li class="kp-view"><span class="icon-calendar pull-left"></span>10 Sep 2013</li>
                                </ul>
                            </div>
                        </header>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                        <a href="#" class="read-more">Read more</a>
                    </div>
                </div>
                <!-- item -->
            </li>
            <li>
                <div class="item clearfix">
                    <a href="#">
                        <div class="video-wrapper">
                            <iframe width="250" height="141" src="http://www.youtube.com/embed/RYALCaoXgmQ" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </a>
                    <div class="item-content">
                        <header class="header-item">
                            <span class="icon-image pull-left"></span>
                            <div class="item-right">
                                <h4><a href="#">Alesya Kornetskaya</a></h4>
                                <ul class="list-inline kp-metadata clearfix">
                                    <li class="kp-author"><span class="icon-chat pull-left"></span><a href="#">By Join</a></li>
                                    <li class="kp-view"><span class="icon-calendar pull-left"></span>10 Sep 2013</li>
                                </ul>
                            </div>
                        </header>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
                        <a href="#" class="read-more">Read more</a>
                    </div>
                </div>
                <!-- item -->
            </li>
        </ul>
        <div class="clearfix"></div>
        <a id="prev3" class="prev icon-arrow-left" href="#"></a>
        <a id="next3" class="next icon-arrow-right" href="#"></a>
        <div class="clearfix"></div>
    </div>
</div>
<!-- widget-movie -->
<div class="widget widget-ads">
    <a href="#"><img src="placeholders/posts/ad1.jpg" alt=""></a>
    <a href="#"><img src="placeholders/posts/ad2.jpg" alt=""></a>
</div>