<div id="sidebar" class="pull-left">
    <div class="widget widget-list-news">
        <div class="accordion-defaul">
            <h2 class="widget-title"><span class="icon-list pull-left"></span>TOPPing ALL CHARTS</h2>
            <div>
                <ul class="list-unstyled">
                    <li class="clearfix">
                        <span>1</span><a href="#">Section 1.10.32 of "de Finibus Bonorum"</a>
                    </li>
                    <li class="clearfix">
                        <span>2</span><a href="#">Section 1.10.32 of "de Finibus Bonorum" </a>
                    </li>
                    <li class="clearfix">
                        <span>3</span><a href="#">The standard Lorem Ipsum passage</a>
                    </li>
                    <li class="clearfix">
                        <span>4</span><a href="#">Section 1.10.32 of "de Finibus Bonorum"</a>
                    </li>
                    <li class="clearfix">
                        <span>5</span><a href="#">Section 1.10.32 of "de Finibus Bonorum"</a>
                    </li>
                </ul>
            </div>
            <h2 class="widget-title"><span class="icon-compose pull-left"></span>HOT OFF THE PRESS</h2>
            <div>
                <ul class="list-unstyled">
                    <li class="clearfix">
                        <span>1</span><a href="#">Section 1.10.32 of "de Finibus Bonorum"</a>
                    </li>
                    <li class="clearfix">
                        <span>2</span><a href="#">Section 1.10.32 of "de Finibus Bonorum" </a>
                    </li>
                    <li class="clearfix">
                        <span>3</span><a href="#">The standard Lorem Ipsum passage</a>
                    </li>
                    <li class="clearfix">
                        <span>4</span><a href="#">Section 1.10.32 of "de Finibus Bonorum"</a>
                    </li>
                    <li class="clearfix">
                        <span>5</span><a href="#">Section 1.10.32 of "de Finibus Bonorum"</a>
                    </li>
                </ul>
            </div>
            <h2 class="widget-title"><span class="icon-film pull-left"></span>BEST MOVIES</h2>
            <div>
                <ul class="list-unstyled">
                    <li class="clearfix">
                        <span>1</span><a href="#">Section 1.10.32 of "de Finibus Bonorum"</a>
                    </li>
                    <li class="clearfix">
                        <span>2</span><a href="#">Section 1.10.32 of "de Finibus Bonorum" </a>
                    </li>
                    <li class="clearfix">
                        <span>3</span><a href="#">The standard Lorem Ipsum passage</a>
                    </li>
                    <li class="clearfix">
                        <span>4</span><a href="#">Section 1.10.32 of "de Finibus Bonorum"</a>
                    </li>
                    <li class="clearfix">
                        <span>5</span><a href="#">Section 1.10.32 of "de Finibus Bonorum"</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- widget-list-news -->
    <div class="widget widget-list-images-news">
        <div class="accordion-defaul">
            <h2 class="widget-title"><span class="icon-notebook pull-left"></span>popular article</h2>
            <div>
                <ul class="list-unstyled">
                    <li>
                        <div class="item clearfix">
                            <a href="#" class="pull-left"><img src="placeholders/posts/img.jpg" alt=""></a>
                            <div class="item-right">
                                <h4><a href="#">Nearly free, sent back to North</a></h4>
                                <ul class="list-inline kp-metadata clearfix">
                                    <li class="kp-time">10 Sep 2013</li>
                                    <li class="kp-view"><span class="icon-eye pull-left"></span>50 View</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">
                            <a href="#" class="pull-left"><img src="placeholders/posts/img-1.jpg" alt=""></a>
                            <div class="item-right">
                                <h4><a href="#">Nearly free, sent back to North</a></h4>
                                <ul class="list-inline kp-metadata clearfix">
                                    <li class="kp-time">10 Sep 2013</li>
                                    <li class="kp-view"><span class="icon-eye pull-left"></span>50 View</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">
                            <a href="#" class="pull-left"><img src="placeholders/posts/img-8.jpg" alt=""></a>
                            <div class="item-right">
                                <h4><a href="#">Nearly free, sent back to North</a></h4>
                                <ul class="list-inline kp-metadata clearfix">
                                    <li class="kp-time">10 Sep 2013</li>
                                    <li class="kp-view"><span class="icon-eye pull-left"></span>50 View</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">
                            <a href="#" class="pull-left"><img src="placeholders/posts/img-9.jpg" alt=""></a>
                            <div class="item-right">
                                <h4><a href="#">Nearly free, sent back to North</a></h4>
                                <ul class="list-inline kp-metadata clearfix">
                                    <li class="kp-time">10 Sep 2013</li>
                                    <li class="kp-view"><span class="icon-eye pull-left"></span>50 View</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <h2 class="widget-title"><span class="icon-chat pull-left"></span>recent post</h2>
            <div>
                <ul class="list-unstyled">
                    <li>
                        <div class="item clearfix">
                            <a href="#" class="pull-left"><img src="placeholders/posts/img.jpg" alt=""></a>
                            <div class="item-right">
                                <h4><a href="#">Nearly free, sent back to North</a></h4>
                                <ul class="list-inline kp-metadata clearfix">
                                    <li class="kp-time">10 Sep 2013</li>
                                    <li class="kp-view"><span class="icon-eye pull-left"></span>50 View</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">
                            <a href="#" class="pull-left"><img src="placeholders/posts/img-1.jpg" alt=""></a>
                            <div class="item-right">
                                <h4><a href="#">Nearly free, sent back to North</a></h4>
                                <ul class="list-inline kp-metadata clearfix">
                                    <li class="kp-time">10 Sep 2013</li>
                                    <li class="kp-view"><span class="icon-eye pull-left"></span>50 View</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">
                            <a href="#" class="pull-left"><img src="placeholders/posts/img-8.jpg" alt=""></a>
                            <div class="item-right">
                                <h4><a href="#">Nearly free, sent back to North</a></h4>
                                <ul class="list-inline kp-metadata clearfix">
                                    <li class="kp-time">10 Sep 2013</li>
                                    <li class="kp-view"><span class="icon-eye pull-left"></span>50 View</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item clearfix">
                            <a href="#" class="pull-left"><img src="placeholders/posts/img-9.jpg" alt=""></a>
                            <div class="item-right">
                                <h4><a href="#">Nearly free, sent back to North</a></h4>
                                <ul class="list-inline kp-metadata clearfix">
                                    <li class="kp-time">10 Sep 2013</li>
                                    <li class="kp-view"><span class="icon-eye pull-left"></span>50 View</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- widget-list-news -->
    <div class="widget widget-facebook">
        <h2 class="widget-title"><span class="icon-thumbs-up2 pull-left"></span>LIKE US ON FACEBOOK</h2>

        <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fkopatheme&amp;width=250&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:258px;" allowTransparency="true"></iframe>
    </div>
    <!-- widget-facebook -->
    <div class="widget widget_archive">
        <h2 class="widget-title"><span class="icon-drawer pull-left"></span>Archives</h2>
        <ul class="list-unstyled">
            <li>
                <a href="#">September 2013 (20)</a>
            </li>
            <li>
                <a href="#">March 2013 (20)</a>
            </li>
            <li>
                <a href="#">February 2013 (20)</a>
            </li>
            <li>
                <a href="#">January 2013 (20)</a>
            </li>
            <li>
                <a href="#">December 2013 (20)</a>
            </li>
            <li>
                <a href="#">November 2013 (20)</a>
            </li>
        </ul>
    </div>
    <!-- widget-archives -->
</div>