{% if title is defined %}
   <h2 class="titre_list">{{title}}</h2>
{% endif %}

{% if elements|length > 0 %}
    <ul class="list-design ">
        {% for element in elements %}
            <li>
                <a href="{{ path('mo_questionnaire_show', {'slug_ent': element.Enterprise.slug, 'slug_quest' : element.slug }) }}">
                    <div class="img_list"></div>
                    <div class="contenu">
                        <h3 class="titre">{{element.name}}</h3>
                        <div class="stop"></div>
                        <span class="date"><div></div><span>du <span class="bold">12/10/2014</span> au <span class="bold">12/10/2014</span></span></span>
                    </div>
                    <div class="fleche"></div>
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    Pas de questionnaire
{% endif %}