{% extends 'VMGeneralBundle:Middle:layout.html.twig' %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block content %}
<div class="grid_12">
    <div class="block-main">
        <div class="block-simple">
            <div class="block_design">
                <div class="block_header"><h1>Prévisualisation de votre questionnaire</h1></div>
                <div class="block_content">
                    <div class="grid_3">
                        {% include 'VMQuestionnaireBundle:Form:questionnaire_form_menu.html.twig' with {'questionnaire': questionnaire} %}
                    </div>
                    <div class="grid_9">
                        <div class="question">
                            {% if elements is defined and elements| length > 0 %}
                            <form class="no_form" method="post" name="proces_form" id="process_form"
                                  action="{{ path(app.request.get('_route'), {'slug_ent': app.request.get('slug_ent'),'slug_quest': app.request.get('slug_quest')}) }}">
                                <ul class="list-design ul_design" id="list_ul_0" data-parent="0">
                                    {% for element in elements %}
                                    {% include 'VMQuestionnaireBundle:Middle:Element/' ~element.StdQuestionnaireTypeElement.slug~ '.html.twig' %}
                                    {% endfor %}
                                </ul>

                            </form>
                            <p class="right"><a href="javascript:void(0);" id="next_link" class="btn_principal">Question
                                suivante</a></p>

                            <div class="stop"></div>
                            {% else %}
                            <p> No Element exists </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        window.history.forward();
        $('#next_link').click(function () {
            $('#process_form').submit();
        });
    });
</script>
{% endblock %}

    