{% extends 'VMGeneralBundle:Middle:layout.html.twig' %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block content %}
    <div class="grid_12">
        <div class="block-main">
            <div class="block-simple">
                <div class="block_design">
                    <div class="block_header"><h1>{% trans from 'front' %}questionnaire.text.end{% endtrans %}</h1></div>
                    <div class="block_content">
                        <div class="block_content">
                            <div class="grid_3">
                                {% include 'VMQuestionnaireBundle:Form:questionnaire_form_menu.html.twig' with {'questionnaire': questionnaire} %}
                            </div>
                            <div class="grid_9">
                                <p class="succes">
                                    <span>
                                        {% trans from 'front' %}questionnaire.text.congrats{% endtrans %}<br />
                                        {% trans with {'%ent_name%': enterprise.name, '%quest_name%': questionnaire.name} from 'front' %}questionnaire.text.participationSuccess{% endtrans %}
                                    </span></p>
                                <div class="box">
                                    <div class="approuve"></div>
                                </div>
                                <p class="succes">
                                    {% trans with {'%ent_name%': enterprise.name} from 'front' %}questionnaire.text.contactSoon{% endtrans %}<br/>
                                    {% trans from 'front' %}questionnaire.text.regards{% endtrans %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="stop"></div>
{% endblock %}