

        <div class="label">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in risus dignissim, ultricies orci ut, congue neque. Nam vitae urna ante ? </div>
        <div class="field">
            <p> <label><input type="checkbox" name="1"/>Nom</label></p>
            <p> <label><input type="checkbox" name="1" />Prénom</label> </p>
            <p> <label><input type="checkbox" name="1"/>Email</label></p>
            <p> <label><input type="checkbox" name="1"/>Date de naissance</label></p>
            <p> <label><input type="checkbox" name="1"/>Adresse</label></p>
            <p> <label><input type="checkbox" name="1" /> Sexe</label> </p>
            <p> <label><input type="checkbox" name="1"/>Numero de telephone</label></p>
            <p> <label><input type="checkbox" name="1"/>Niveau d'étude</label></p>

        </div>
