<div class="input-main">
    <div class="input-block">
          {{ form_row(form.QuestionnaireElement.name)}}
          {{ form_row(form.QuestionnaireElement.text_description)}} 
            
           {% include 'VMQuestionnaireBundle:Form:Element/Question/_media_type.html.twig' %} 

        </div>
        {% include 'VMQuestionnaireBundle:Form:Element/Question/question_option_form.html.twig' %}
        <div class="text_center button_save">
          {{ form_widget(form.save) }}
           <div style="height:10px;">&nbsp;</div>
    </div>
</div>
<script src="{{ asset('bundles/vmgeneral/js/media_type.js') }}"></script>