<div class="line">
    
    {{ form_row(form.Country) }}

    <div class="stop"></div>

    {{ form_row(form.name) }}

    <div class="stop"></div>
    
    {{ form_row(form._token) }}

    <div class="text_center">
        {{ form_row(form.save) }}
    </div>
</div>
