<h1>Element's form base</h1>
<div>
     {% include 'VMQuestionnaireBundle:Default/FormView:Element/description_form.html.twig' %}
     {% include 'VMQuestionnaireBundle:Default/FormView:Element/question_form.html.twig' %}
     {% include 'VMQuestionnaireBundle:Default/FormView:Element/payment_form.html.twig' %}
     {% include 'VMQuestionnaireBundle:Default/FormView:Element/group_form.html.twig' %}
</div>