<div>
    <h2>Default element question</h2>
     {% include 'VMQuestionnaireBundle:Default/FormView:Element/Question/choice_form.html.twig' %}
     {% include 'VMQuestionnaireBundle:Default/FormView:Element/Question/demographic_form.html.twig' %}
     {% include 'VMQuestionnaireBundle:Default/FormView:Element/Question/datetime_form.html.twig' %}
     {% include 'VMQuestionnaireBundle:Default/FormView:Element/Question/evaluation_form.html.twig' %}
     {% include 'VMQuestionnaireBundle:Default/FormView:Element/Question/open_question_form.html.twig' %}
    {% include 'VMQuestionnaireBundle:Default/FormView:Element/Question/webcam_form.html.twig' %}
</div>